* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;;
}
nav {
    width: 960px;
    margin: 0 auto;
}
/* 结构布局 */
.main-box {
    width: 960px;
    margin: 20px auto;
    border: 1px solid #efefef;
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
}
.info {
    margin-bottom: 20px;
}
.info-box {
    margin-top:8px; 
}
.info-box ul li {
    display: inline-block;
    margin-right: 15px;

}
.info-box ul li strong {
    margin-right: 10px;
}
.info-detail {
    margin-top: 8px;
}
.info-detail p {
    margin-top: 5px;
}

