.main{
    background-color:#d2dae2;
  }
  .mainbox{
    margin:0 auto;
    margin-top:40px;
    width:650px;
    background-color:white;
    box-shadow: 0px 0px 10px #888888;
  }
  .nav{
    background-color:black;
    color:white;
    padding:50px 10px 5px;
  }
  .container{
    padding:40px;
  }
  .left{
    
  }
  .right{
    float:right;
  }
  .pinfo{
    margin-top:40px;
    font-family:Tahoma;
  }
  li{
    font: 16px/1.8 "Microsoft yahei";
  }
  .yellow{
    color:#fbc531;
  }
  .gray{
    color:#95a5a6;
  }
  .box{
    background-color:#fbc531;
    padding:5px;
  }
  .info{
    
  }
  .info li{
     list-style-type:none;
  }